*.py[cod]

# C extensions
*.so
.ropeproject
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

tao_open_models/conf/settings.py

tao_models/TaobaoSdk
*.pyc

tao_models/conf/set_env.py

tao_models/conf/settings.py

*.ropeproject
.ropeproject
rollback.history

api_server/conf/set_env.py
api_server/conf/settings.py
db_pool/conf/settings.py
service_server/conf/set_env.py
service_server/conf/settings.py
